@font-face {
  font-family: "icomoon";
  src: url("../../fonts/icomoon.eot");
  src:
    url("../../fonts/icomoon.eot") format("embedded-opentype"),
    url("../../fonts/icomoon.woff") format("woff"),
    url("../../fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Facebook:before {
  content: "\e900";
}

.icon-Google:before {
  content: "\e901";
}

.icon-Instagram:before {
  content: "\e902";
}

.icon-Linkedin:before {
  content: "\e903";
}

.icon-Pinterest:before {
  content: "\e904";
}

.icon-Tik-Tok:before {
  content: "\e905";
}

.icon-X:before {
  content: "\e906";
}

.icon-Youtube:before {
  content: "\e907";
}

.icon-Become-a-Dealer:before {
  content: "\e908";
}

.icon-Coverage-Options:before {
  content: "\e909";
}

.icon-Fading-Protection:before {
  content: "\e90a";
}

.icon-Privacy:before {
  content: "\e90b";
}

.icon-Safety:before {
  content: "\e90c";
}

.icon-Signal:before {
  content: "\e90d";
}

.icon-UV-Protection:before {
  content: "\e90e";
}

.icon-VLT:before {
  content: "\e90f";
}

.icon-Xpel-Installer:before {
  content: "\e910";
}

.icon-Arrow-Down:before {
  content: "\e911";
}

.icon-Arrow-Left:before {
  content: "\e912";
}

.icon-Arrow-Right:before {
  content: "\e913";
}

.icon-Arrow-Right-45:before {
  content: "\e914";
}

.icon-Arrow-Up:before {
  content: "\e915";
}

.icon-Automotive:before {
  content: "\e916";
}

.icon-Bicycle:before {
  content: "\e917";
}

.icon-Blog:before {
  content: "\e918";
}

.icon-Careers:before {
  content: "\e919";
}

.icon-Cart:before {
  content: "\e91a";
}

.icon-Check:before {
  content: "\e920";
}

.icon-Chevron-Down:before {
  content: "\e921";
}

.icon-Chevron-Left:before {
  content: "\e922";
}

.icon-Chevron-Right:before {
  content: "\e923";
}

.icon-Chevron-Up:before {
  content: "\e924";
}

.icon-Close:before {
  content: "\e925";
}

.icon-Commercial:before {
  content: "\e926";
}

.icon-Download:before {
  content: "\e927";
}

.icon-Edit:before {
  content: "\e928";
}

.icon-Events:before {
  content: "\e929";
}

.icon-Expand:before {
  content: "\e92a";
}

.icon-Filter:before {
  content: "\e92b";
}

.icon-Hamburger:before {
  content: "\e92c";
}

.icon-Help-Center:before {
  content: "\e92d";
}

.icon-Hyperlink:before {
  content: "\e92e";
}

.icon-Investor-Relations:before {
  content: "\e92f";
}

.icon-Language:before {
  content: "\e930";
}

.icon-Map:before {
  content: "\e931";
}

.icon-Marine:before {
  content: "\e932";
}

.icon-Minus:before {
  content: "\e933";
}

.icon-Newsroom:before {
  content: "\e934";
}

.icon-Pause:before {
  content: "\e935";
}

.icon-Phone:before {
  content: "\e936";
}

.icon-Placeholder:before {
  content: "\e937";
}

.icon-Play:before {
  content: "\e938";
}

.icon-Plus:before {
  content: "\e939";
}

.icon-Residential:before {
  content: "\e93a";
}

.icon-Search:before {
  content: "\e93b";
}

.icon-Share:before {
  content: "\e93c";
}

.icon-Shipping:before {
  content: "\e93d";
}

.icon-Sort:before {
  content: "\e93e";
}

.icon-Star:before {
  content: "\e93f";
}

.icon-Star-Empty:before {
  content: "\e940";
}

.icon-Tag:before {
  content: "\e941";
}

.icon-Tesla:before {
  content: "\e942";
}

.icon-User:before {
  content: "\e943";
}

.icon-Videos:before {
  content: "\e944";
}

.icon-Visibility:before {
  content: "\e945";
}

.icon-Visibility-Off:before {
  content: "\e946";
}

.icon-Warranty:before {
  content: "\e947";
}

.icon-Zoom-In:before {
  content: "\e948";
}

.icon-Zoom-Out:before {
  content: "\e949";
}

.icon-Aircraft:before {
  content: "\e94a";
}
