@mixin font-h1 {
  @apply text-[40px] md:text-[52px] lg:text-[72px] leading-normal font-[500] font-display tracking-tight;
}

@mixin font-h2 {
  @apply text-[32px] md:text-[40px]  lg:text-[48px] leading-normal font-[500] font-display tracking-tight;
}

@mixin font-h3 {
  @apply text-[24px] md:text-[28px]  lg:text-[32px] leading-normal font-[500] font-display tracking-tight;
}

@mixin font-h4 {
  @apply text-[20px] lg:text-[22px] xl:text-[24px] leading-normal font-[500] font-display tracking-tight;
}

@mixin font-h5 {
  @apply text-[18px] lg:text-[20px] leading-normal font-[500] font-display tracking-tight;
}

@mixin font-h6 {
  @apply text-[16px] lg:text-[18px] leading-normal font-[500] font-display tracking-tight;
}

@mixin font-para-large {
  @apply text-[18px] lg:text-[20px] leading-loose font-[450] font-sans tracking-wide;
}

@mixin font-para-large-bold {
  @apply text-[18px] lg:text-[20px] leading-loose font-[600] font-sans tracking-wide;
}

@mixin font-para-medium {
  @apply text-[16px] lg:text-[18px] leading-loose font-[450] font-sans tracking-wide;
}

@mixin font-para-medium-bold {
  @apply text-[16px] lg:text-[18px] leading-loose font-[600] font-sans tracking-wide;
}

@mixin font-para-small {
  @apply text-[14px] lg:text-[16px] leading-loose font-[450] font-sans tracking-wide;
}

@mixin font-para-small-bold {
  @apply text-[14px] lg:text-[16px] leading-loose font-[600] font-sans tracking-wide;
}

@mixin font-para-xsmall {
  @apply text-[14px] lg:text-[14px] leading-loose font-[450] font-sans tracking-wide;
}

@mixin font-subtitle-large {
  @apply text-[16px] leading-tight font-[600] font-display tracking-wider uppercase;
}

@mixin font-subtitle-small {
  @apply text-[14px] lg:text-[14px] leading-tight font-[600] font-display tracking-wider uppercase;
}

@mixin font-detail($font-size-value, $line-height-value, $font-weight, $letter-space) {
  font-size: $font-size-value;
  line-height: $line-height-value;
  font-weight: $font-weight;
  letter-spacing: $letter-space;
}

@mixin media($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@mixin opacity($opacity) {
  -webkit-opacity: $opacity;
  -moz-opacity: $opacity;
  -o-opacity: $opacity;
  -ms-opacity: $opacity;
  opacity: $opacity;
}

@mixin transition($seconds, $timing: ease) {
  -webkit-transition: all $seconds ease;
  -moz-transition: all $seconds ease;
  -ms-transition: all $seconds ease;
  -o-transition: all $seconds ease;
  transition: all $seconds $timing;
}

@mixin transform($property) {
  -o-transform: $property;
  -webkit-transform: $property;
  -ms-transform: $property;
  -moz-transform: $property;
  transform: $property;
}

@mixin flexbox() {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

@mixin flexCenter() {
  @include flexbox;
  @include align-item-center;
  @include justifyCenter;
}

@mixin align-item-center {
  align-items: center;
}

@mixin justifyCenter {
  justify-content: center;
}

@mixin text-shadow($x-axis, $y-axis, $blur, $color) {
  -ms-text-shadow: $x-axis $y-axis $blur $color;
  -o-text-shadow: $x-axis $y-axis $blur $color;
  -webkit-text-shadow: $x-axis $y-axis $blur $color;
  -moz-text-shadow: $x-axis $y-axis $blur $color;
  text-shadow: $x-axis $y-axis $blur $color;
}

@mixin box-shadow($x-axis, $y-axis, $blur, $color) {
  -ms-box-shadow: $x-axis $y-axis $blur $color;
  -o-box-shadow: $x-axis $y-axis $blur $color;
  -webkit-box-shadow: $x-axis $y-axis $blur $color;
  -moz-box-shadow: $x-axis $y-axis $blur $color;
  box-shadow: $x-axis $y-axis $blur $color;
}

@mixin box-shadow-none {
  -ms-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@mixin box($property) {
  box-sizing: $property;
  -moz-box-sizing: $property;
  -webkit-box-sizing: $property;
  -o-box-sizing: $property;
}

@mixin text-clamp($line) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
}

@mixin space-none {
  margin: 0;
  padding: 0;
}

@mixin figure {
  margin: 0;
  display: inherit;
}

@mixin ul-disc-style {
  list-style: disc;
}

@mixin ol-decimal-style {
  list-style: decimal;
}

@mixin ol-circle-style {
  list-style: circle;
}

@mixin list-left-space {
  padding-left: 20px;
}

@mixin app-none() {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@mixin row($column-count, $row-gap, $column-gap) {
  @include flexbox;
  flex-wrap: wrap;
  gap: $row-gap $column-gap;
  > * {
    flex: 0 0 calc((100% / $column-count) - ($column-gap - (($column-gap / $column-count))));
    width: calc((100% / $column-count) - ($column-gap - (($column-gap / $column-count))));
  }
}

@mixin list-unstyled() {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin card($col) {
  @include row(1, 0px, 0px);
  @include media($device-md) {
    @include row(2, 0px, 0px);
  }
  @include media($device-lg) {
    @include row($col, 0px, 0px);
    [class*="half"] {
      @if $col == 3 {
        flex-basis: 66.66667%;
      } @else if $col == 4 {
        flex-basis: 50%;
      }
    }
  }
}

@mixin btn {
  @apply inline-flex items-center justify-center transition-all duration-300 focus-visible:outline-none disabled:opacity-50 disabled:pointer-events-none para-large font-display tracking-tight min-h-12 lg:min-h-[3.5rem] px-4 lg:px-6 py-2.5 lg:py-3 rounded-full focus:ring-2 focus:ring-[var(--button-primary-focus-ring)] focus:ring-opacity-50;
}

@mixin btn-primary {
  @apply bg-[var(--color-primary-300)] text-[var(--button-primary-filled-text)] hover:bg-[var(--button-primary-filled-hover-bg)] hover:text-[var(--button-primary-filled-hover-text)];
}

@mixin btn-primary-bg-white {
  @apply hover:bg-white hover:text-black;
}

@mixin btn-secondary {
  @apply bg-white text-black border-[0.063rem] border-solid border-white hover:bg-black hover:text-white;
}

@mixin btn-secondary-outline {
  @apply bg-white text-black border-[0.063rem] border-solid border-black hover:bg-black hover:text-white;
}
@mixin btn-secondary-outline-dark {
  @apply bg-transparent text-white border-[0.063rem] border-solid border-white hover:bg-white hover:text-black;
}

@mixin btn-black {
  @apply bg-black text-white border-[0.063rem] border-solid border-black hover:bg-black/75 hover:text-white hover:border-black/75;
}

@mixin btn-black-outline {
  @apply bg-transparent text-black border-[0.063rem] border-solid border-black hover:bg-black hover:text-white;
}

@mixin btn-white-outline {
  @apply bg-transparent text-white border-[0.063rem] border-solid border-white hover:bg-white hover:text-black hover:border-white;
}

@mixin btn-lg {
  @apply para-large font-display tracking-tight min-h-12 lg:min-h-[3rem] px-5 lg:px-9 py-2.5 lg:py-3;
}

@mixin btn-sm {
  @apply para-small font-display tracking-tight min-h-3 lg:min-h-9 px-3 lg:px-5 py-2 lg:py-1;
}

@mixin btn-blur {
  @apply inline-flex items-center justify-center h-10 px-6 py-2 border border-solid border-[rgba(255,255,255,.25)] bg-[#212d4259] backdrop-blur-[.5625rem] text-white rounded-full hover:opacity-90 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 transition-all duration-300  min-w-[7.625rem] para-xsmall;
}

@mixin section-spacing($location, $size) {
  @if $location == top {
    @if $size == sm {
      & {
        padding-top: 2rem;
      }

      @include media(768px) {
        padding-top: 2.5rem;
      }

      @include media(1024px) {
        padding-top: 3.125rem;
      }
      @include media(1440px) {
        padding-top: 4rem;
      }
    } @else if $size == lg {
      & {
        padding-top: 3rem;
      }

      @include media(768px) {
        padding-top: 5rem;
      }

      @include media(1024px) {
        padding-top: 6.25rem;
      }
      @include media(1440px) {
        padding-top: 7.5rem;
      }
    }
  } @else if $location == bottom {
    @if $size == sm {
      & {
        padding-bottom: 2rem;
      }

      @include media(768px) {
        padding-bottom: 2.5rem;
      }

      @include media(1024px) {
        padding-bottom: 3.125rem;
      }
      @include media(1440px) {
        padding-bottom: 4rem;
      }
    } @else if $size == lg {
      & {
        padding-bottom: 3rem;
      }

      @include media(768px) {
        padding-bottom: 5rem;
      }

      @include media(1024px) {
        padding-bottom: 6.25rem;
      }
      @include media(1440px) {
        padding-bottom: 7.5rem;
      }
    }
  }
}
